@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scroll-offset {
    --padding-default: 0.75rem;
    --header-heigth: calc(2rem + 2 * var(--padding-default));
    position: sticky;
    height: calc(100vh - var(--header-heigth) - var(--padding-default) * 2);
    top: calc(var(--header-heigth) + var(--padding-default))
  }
}